<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">

<li class="nav-header">
    <div class="dropdown profile-element">
        <span>
            <img alt="image" class="img-circle" width="48" height="48" src="/static/img/root.png" />
        </span>
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
                <span class="block m-t-xs">
                    <strong class="font-bold">{{ username }}  <span style="color: #8095a8"></span></strong>
                </span>
                <span class="text-muted text-xs block">
                    {% if isadmin == 1 %}
                    管理员
                    {% else %}
                    普通会员
                    {% endif %}
                    <b class="caret"></b>
                </span>
            </span>
        </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a value="/user/user_detail/?username={{ username }}" class="iframe_user">个人信息</a></li>
            <li><a href="/user/edit/">修改信息</a></li>







            <li class="divider"></li>
            <li><a href="/logout/">注销</a></li>
        </ul>
    </div>

    <div class="logo-element">
        JS+
    </div>
</li>
<script>
    $(".iframe_user").on('click', function(){
        var url= $(this).attr("value");
        layer.open({
            type: 2,
            title: '个人信息',
            maxmin: true,
            shift: 'top',
            border: [2, 0.3, '#1AB394'],
            shade: [0.5, '#000000'],
            shadeClose: true,
            area : ['800px' , '600px'],
            content: url
        });
    });
</script>
            <li id="index">
               <a href="/"><i class="fa fa-dashboard"></i> <span class="nav-label">仪表盘</span><span class="label label-info pull-right"></span></a>
            </li>

            <li id="user">
                <a href="#"><i class="fa fa-group"></i> <span class="nav-label">用户管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="group"><a href="/user/add/">添加用户</a></li>
                    <li class="user"><a href="/user/list/">查看用户</a></li>
                </ul>
            </li>

            <li id="privilege">
               <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">权限管理</span><span class="fa arrow"></span></a>
                 <ul class="nav nav-second-level">
                    <li class="group"><a href="/privilege/add/">权限添加</a></li>
                    <li class="user"><a href="/privilege/grant/">用户授权</a></li>
                     <li class="user"><a href="/privilege/list/">权限列表</a></li>
                     <li class="user"><a href="/privilege/grantlist/">授权列表</a></li>
                </ul>
            </li>

            <li id="project">
                <a href="#"><i class="fa fa-gears"></i> <span class="nav-label">项目管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="group"><a href="/project/add/">添加项目</a></li>
                    <li class="user"><a href="/project/list/">项目列表</a></li>
                    <li class="group"><a href="/project/buildadd/">项目构建</a></li>
                    <li class="group"><a href="/project/buildlist/">构建列表</a></li>
                    <li class="group"><a href="/project/svnadd/">Svn用户添加</a></li>
                    <li class="group"><a href="/project/svnlist/">Svn用户列表</a></li>
                    <li class="group"><a href="/project/mavenadd/">Maven参数添加</a></li>
                    <li class="group"><a href="/project/mavenlist/">Maven参数列表</a></li>

                </ul>
            </li>

            <li id="pjdeploy">
                <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">项目部署</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="group"><a href="/pjdeploy/add/">项目部署</a></li>
                    <li class="group"><a href="/pjdeploy/list/">部署列表</a></li>
                    <li class="group"><a href="/pjdeploy/rollbackadd/">项目回退</a></li>
                    <li class="group"><a href="/pjdeploy/rollbacklist/">回退列表</a></li>
                    <li class="group"><a href="/pjdeploy/imagesadd/">镜像添加</a></li>
                    <li class="group"><a href="/pjdeploy/imageslist/">镜像列表</a></li>
                    <li class="group"><a href="/pjdeploy/kubeadd/">名称空间添加</a></li>
                    <li class="group"><a href="/pjdeploy/kubelist/">名称空间列表</a></li>

                </ul>
            </li>

            <li id="hosts">
                <a href="/hosts/list/"><i class="fa fa-inbox"></i> <span class="nav-label">主机列表</span><span class="fa arrow"></span></a>
            </li>


                </ul>
            </li>
        </ul>

    </div>
</nav>